.note-editor.note-frame {
  .note-editable {
    background: rgb(249, 250, 251 / 1);
    &:focus {
    background: white;
    }
  }

  p { margin-bottom: 15px; }

  h2 { font-size: 1.5em; }
  h3 { font-size: 1.17em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.83em; }
  h6 { font-size: 0.74em; }

  blockquote {
    font-family: monospace;
    font-style: italic;
  }

  .note-toolbar {
    .note-btn {
      background-color: transparent;
      border-color: transparent;
      color: rgb(27, 27, 27);
      &:hover,&:focus {
        background-color: #ffffff;
        border-color: rgba(128, 128, 128, 0.267);
        border-radius: 5px;
      }
    }
  }

}

.dataTables_wrapper {  
  .dataTables_length {
    select {
      padding-right: 2.5rem!important;
    }
  }
}