.note-editable {
  background: #f9fafb;
}
.note-editable:focus {
  background: white;
}
.note-editable h2 {
  font-size: 1.5em;
}
.note-editable h3 {
  font-size: 1.17em;
}
.note-editable h4 {
  font-size: 1em;
}
.note-editable h5 {
  font-size: 0.83em;
}
.note-editable h6 {
  font-size: 0.74em;
}
.note-editable blockquote {
  font-family: monospace;
  font-style: italic;
}
